* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding-inline: 32px;
    margin-inline: auto;
}

@media (max-width: 768px) {
    .container {
        padding-inline: 16px;
    }
}